.NominationsPage{
  display: flex;
  flex-direction: column;
}


.Columns{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.Test{
  background-color: #28a745;
  border-left: 8px solid #1f8838;
}
