.NominationsPage{
  display: flex;
  flex-direction: column;
  background-color: #f2cc8f;
}

.Columns{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.Info{
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  width: 500px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #a4c3b2;
}

.Contact{
  margin-left:auto;
}
