.Movie{
  display: flex;
  flex-direction: row;
  align-items:center;
  border: black 1px solid;
  width: 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #e07a5f;
  h3{
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15rem;
    height: 2.25rem;
    font-size: 15px;

  }
  img{
    width: 100px;
    height: 150px;
  }

  button{
    height: 20px;
    width: 100px;
  }

}

.Contents{
  margin-left: 20px;
}

.ButtonAvailable{


}

.ButtonUnavailable{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}


