.MovieList{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-items: center;
  align-items: left;
  margin-bottom: 1rem;
  padding: 0rem;
}


.NoSearch{
  display: inline-block;
  height: 152px;
  width: 402px;
  text-align: center;
  vertical-align: center;
  justify-content: center;
  align-content: center;
  line-height: 152px;
  margin-top: 1rem;
  padding: 0rem;
}

.Columns{
  display: flex;
  flex-direction: column;

  h2{
    align-self: center;
    text-align: center;
  }
}
