.NominationList{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-items: center;
  align-items: left;
  margin-bottom: 1rem;
  padding: 0rem;
  
}

.NoNominations{
  display: inline-block;
  border: black 1px solid;
  height: 152px;
  width: 402px;
  text-align: center;
  vertical-align: center;
  justify-content: center;
  align-content: center;
  line-height: 152px;
  margin-top: 1rem;
  padding: 0rem;
}
